body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 100px;
  background-color: white;
}
.calculator {
  width: 260px;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  color: white;
}
#display {
  width: 240px;
  height: 60px;
  font-size: 2em;
  text-align: right;
  border: none;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
  color: black;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  height: 50px;
  border-radius: 12px;
  font-size: 1.2em;
  background-color: white;
  border: none;
  cursor: pointer;
}
.add, .min, .mul, .div, .equal {
  background-color:orange;
  color: white;
}
.add:hover, .min:hover, .mul:hover, .div:hover, .equal:hover {
  background-color: black;
}
.history-overlay {
  position: fixed;
  bottom: -100%;
  left: 400px;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  transition: 0.4s ;
  padding: 15px;
  color: black;
}
.history-overlay.active {
  bottom: 0;
}
.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.history-header h3 {
  margin: 0;
  font-size: 1.2em;
}
#close-history {
  background: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
}
#history-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;       
  overflow-x: auto;        
  border: 1px solid white;  
  border-radius: 6px;
}
#history-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-bottom: 5px;
  padding: 6px 8px;
  border-radius: 6px;
}
.delete-history {
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 2px 6px;
}
#clear-history {
  margin-top: 10px;
  width: 100%;
  background: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px;
}
